* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(214, 214, 214);
}

header#header {
    width: 100vw;
    height: 80px;
    background: #290636;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#header img {
    width: 20%;
}

div#pes {
    width: 50%;
}

header#header input[type="search"] {
    width: 70%;
    height: 40px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}

div#pes button {
    width: 40px;
    height: 40px;
    margin-left: -3.5px;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #20fa4f;
}

div#pes button img {
    width: 15px;
    height: 15px;
}

div#voltar {
    margin-right: 40px;
}

div#voltar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: arial;
}

div#voltar img {
    width: 20px;
    height: 20px;
}

@media (max-width: 500px) {
    header#header {
        padding-left: 10px;
    }
    header#header img#logo {
        display: none;
    }
}