body {
    zoom: 0;
    background-color: #290636;
   

}

h1 {
    color: white;
    font-size: 50px;
    font-family: nunito;
    position: absolute;
    top: 320px;
    margin-left: 100px;
   
}

/*.principal {
    color: white;
    position: relative;
    top: 470px;
    margin-left: 200px;
    font-size: 30px;
}*/

#logo {
    position: absolute;
    top: -300px;
    margin-left: -100px;
  
}

#ilus {
    max-width: 680px;
    max-height: 680px;
    position: absolute;
    margin-right: -200px;
    top: 10px;
    margin-left: 680px;
}

#cadastro {
    color: white;
    font-family: nunito;
    position: absolute;
    margin-left: 530px;
    bottom: 80px;
    font-size: 25px;
    display: inline-block;

}

#arrow {
    position: absolute;
    margin-left: 650px;
    bottom: 100px;
    background-color: #20fa4f;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

#arrow2 {
    position: absolute;
    margin-left: 220px;
    bottom: 100px;
    background-color: #00ff36;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

#image {
    color: white;
    font-family: nunito;
    position: absolute;
    margin-left: 280px;
    bottom: 80px;
    font-size: 25px;
}

a {
    text-decoration: none;
}
